.header{
    height: 25rem;
    width: 100%;
    /* border: double blue; */
    
  }
  .body{
      height: 12.5rem;
      background-color: gold;
      /* border: dotted red; */
  
  }
  .footer{
  height: 100rem;
  top:50%;
  background-color:black;
  
  }
  .logo{
    background-color: forestgreen;
  }
 
 
  .headerImage{
    /* border: 2px solid silver; */
    height: 12.5rem;
    width: 50%;
    margin-left: 0rem;
  }

  .size:hover{
    height: 70rem;
    width: 70rem;
}

  .logo{
  /* border: 2px solid red; */
  height: 100rem;
  width: 770rem;
  margin-left: 410rem;
}
  .ps4Logo{
  /* border: 2px solid brown; */
  height: 100rem;
  width: 250rem;
}

  .steamLogo{
  /* border: 2px solid navy; */
  height: 100rem;
  width: 250rem;
  margin-left: 260rem;
  top: 408px;
  position: absolute;
}

.xboxLogo{
  /* border: 2px solid skyblue; */
  height: 100rem;
  width: 250rem;
  margin-left: 518px;
  top: 408px;
  position: absolute;
}

.description{
  /* border: 2px solid fuchsia; */
  height: 90rem;
  font-size: 20rem;
  color: darkred;
  background-color: gold
}