.header{
    height: 400px;
    width: 100%;
    /* border: double blue; */
    
  }
  .body{
      height: 200px;
      color: white;
      /* border: dotted red; */
  
  }
  .footer{
  height: 100PX;
  top:50%;
  background-color:black;
  
  }
  .logo{
    background-color: forestgreen;
  }
 
 
  .headerImage{
    /* border: 2px solid silver; */
    height: 200px;
    width: 50%;
    margin-left: 0px;
  }

  .size:hover{
    height: 70px;
    width: 70px;
}

  .logo{
  /* border: 2px solid red; */
  height: 100px;
  width: 770px;
  margin-left: 410px;
}
  .ps4Logo{
  /* border: 2px solid brown; */
  height: 100px;
  width: 250px;
}

  .steamLogo{
  /* border: 2px solid navy; */
  height: 100px;
  width: 250px;
  margin-left: 260px;
  top: 408px;
  position: absolute;
}

.xboxLogo{
  /* border: 2px solid skyblue; */
  height: 100px;
  width: 250px;
  margin-left: 518px;
  top: 408px;
  position: absolute;
}

.description{
  /* border: 2px solid fuchsia; */
  height: 90px;
  font-size: 16px;
  color: black;
}