.header{
    height: 400px;
    width: 100%;
    border: double blue;
    
  }
  .body{
      height: 400px;
      color: white;
      border: dotted red;
  
  }
  .footer{
  height: 100PX;
  top:50%;
  background-color:black;
  
  }
  .logo{
    background-color:lightseagreen;
  }
 
 
  .headerImage{
    border: 2px solid silver;
    height: 200px;
    width: 50%;
    margin-left: 0px;
  }

  .size:hover{
    height: 70px;
    width: 70px;
}

.logo{
  border: 2px solid red;
  height: 150px;
  width: 750px;
  margin-left: 450px;
}
.ps4Logo{
  border: 2px solid brown;
  height: 150px;
  width: 250px;
}

.steamLogo{
  border: 2px solid navy;
  height: 150px;
  width: 250px;
  margin-left: 250px;
  top: 417px;
  position: absolute;
}

.xboxLogo{
  border: 2px solid skyblue;
  height: 150px;
  width: 250px;
  margin-left: 500px;
  top: 417px;
  position: absolute;
}