.header{
  height: 400px;
  width: 100%;
  border: double blue;
  
}
.body{
    height: 1200px;
    color: white;
    border: dotted red;

}
.footer{
height: 100PX;
top:50%;
background-color:black;

}
.logo{
  background-color: #009933;
}
.CarnivoreImage img{
  height: 400px;
  width: 100%;
}

.CarnivoreImage{
  border: 2px solid red;
  height: 400px;
  width: 50%;
  margin-left: 50%;
}

.Carnivore{
  border: 2px solid blue;
  height: 400px;
  width: 49%;
  float: left;
  top: 75%;
  position: absolute;
  color: black;
}

.Carnivore p{
  font-weight: bold;
  font-size: 20px;
}

.HerbivoreImage img{
  border: 2px solid purple;
  height: 400px;
  width: 49.5%;
}

.Herbivore p{
  font-weight: bold;
  font-size: 20px;
}

.Herbivore{
  border: 2px solid gold;
  top: 135%;
  height: 400px;
  width: 49%;
  float: left;
  position: absolute;
  color: black;
  margin-left: 49.5%;
}

.HybridImage img{
  height: 389px;
  width: 100%;
}

.HybridImage{
  border: 2px solid red;
  height: 400px;
  width: 50%;
  margin-left: 50%;
}

.Hybrids{
  border: 2px solid limegreen;
  height: 392px;
  width: 49%;
  float: left;
  top: 194%;
  position: absolute;
  color: black;
}

.Hybrids p{
  font-weight: bold;
  font-size: 20px;
}

.headerImage{
  border: 2px solid silver;
  height: 200px;
  width: 50%;
  margin-left: 0px;
}