.header{
  height: 25rem;
  width: 100%;
  /* border: double blue; */
  
}
.body{
    height: 75rem;
    color: white;
    /* border: dotted red; */

}
.footer{
height: 4.6875rem;
top:40%;
background-color:magenta;
}
.logo{
  background-color: #009933;
}
.CarnivoreImage img{
  height: 25rem;
  width: 100%;
}

.CarnivoreImage{
  /* border: 2px solid red; */
  height: 25rem;
  width: 50%;
  margin-left: 50%;
}

.Carnivore{
  /* border: 2px solid blue; */
  height: 25rem;
  width: 49%;
  float: left;
  top: 70%;
  position: absolute;
  color: black;
}

.Carnivore p{
  font-weight: bold;
  font-size: 1.25rem;
}

.HerbivoreImage img{
  /* border: 2px solid purple; */
  height: 25rem;
  width: 50%;
}

.Herbivore p{
  font-weight: bold;
  font-size: 1.25rem;
}

.Herbivore{
  /* border: 2px solid gold; */
  top: 126%;
  height: 25rem;
  width: 50%;
  float: left;
  position: absolute;
  color: black;
  margin-left: 50%;
}

.HybridImage img{
  height: 25rem;
  width: 100%;
}

.HybridImage{
  /* border: 2px solid red; */
  height: 25rem;
  width: 50%;
  margin-left: 50%;
}

.Hybrids{
  /* border: 2px solid limegreen; */
  height: 25rem;
  width: 50%;
  float: left;
  top: 181%;
  position: absolute;
  color: black;
}

.Hybrids p{
  font-weight: bold;
  font-size: 1.25rem;
}

.headerImage{
  /* border: 2px solid silver; */
  height: 200rem;
  width: 50%;
  margin-left: 0rem 0rem 0rem 0rem;
}

