.header{
    height: 400px;
    width: 100%;
    border: double blue;
    
  }
  .body{
      height: 2400px;
      color: red;
      border: dotted red;
  
  }
  .footer{
  height: 100PX;
  top:50%;
  background-color:black;
  
  }
  .logo{
    background-color: #009933;
  }
 
 
  .headerImage{
    border: 2px solid silver;
    height: 400px;
    width: 600px;
    margin-left: 0px;
  }

.MatencerosImage img{
  height: 400px;
  width: 100%;
}

.MatencerosImage{
  border: 2px solid red;
  height: 400px;
  width: 50%;
  margin-left: 50%;
}

.Matenceros{
  border: 2px solid blue;
  height: 400px;
  width: 49%;
  float: left;
  top: 56%;
  position: absolute;
  color: black;
}

.Matenceros p{
  font-weight: bold;
  font-size: 20px;
}



.MuertaImage img{
  border: 2px solid purple;
  height: 400px;
  width: 100%;

}

.MuertaImage{
  border: 2px solid purple;
  height: 400px;
  width: 50%;
  margin-left: 0%;
}

.Muerta p{
  font-weight: bold;
  font-size: 20px;
}

.Muerta{
  border: 2px solid gold;
  top: 112%;
  height: 400px;
  width: 48.5%;
  float: left;
  position: absolute;
  color: black;
  margin-left: 50%;
}